@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
	/*background-image: radial-gradient(ellipse farthest-corner at center top, #CFFFDF 0%, #0086C4 100%);*/
	background-image: url('simple_dashed.png');
	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	color: #d0d0d0;
}

a {
    color: #62A1A4;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(81, 152, 203, 0.23);
    transition: all 0.4s ease;
}

a:hover {
	text-shadow: 0 0 4px rgba(81, 152, 203, 0.73);
}

#page-container {
	margin: 0.5em 1em;
}

#page-header {
	border-bottom: 2px solid #1C717B;
}

#banner {
	display: inline-block;
	margin: 0 auto;
}

.global-message {
	text-align: center;
}

#board-title {
	font-size: 1em;
	text-align: center;
	font-weight: 300;
}

#board-title h1{
	font-size: 2em;
	font-weight: 300;
	text-shadow: 0 0 8px #85C4FF;
	transition: all 1s ease;
}

#board-title h1:hover{
    text-shadow: 0 0 10px #FF1160;
}

#new-thread table {
	margin: 0 auto;
	border-spacing: 2px;
	border-collapse: separate;
}

#new-thread .new-input {
	background: none repeat scroll 0 0 rgba(31, 145, 197, 0.04);
    border: 1px solid rgba(9, 123, 133, 0.34);
    border-radius: 0;
    box-shadow: 0 0 14px rgba(0, 200, 255, 0.12) inset;
    font-size: 0.9em;
    padding: 0.15em;
    text-shadow: 0 0 4px #00AFFF;
}

#new-thread td{
	padding: 0;
}

#new-thread .label-col{
	background-color: rgba(8, 47, 58, 0.41);
    border: 1px solid #1F4F5F;
    font-size: 0.9em;
    line-height: 1.1em;
    padding: 0.3em;
}

#new-thread input[type="submit"] {
	background-color: rgba(45, 143, 160, 0.23);
    border: 1px solid rgba(91, 132, 152, 0.52);
    margin-left: 0.5em;
    font-size: 0.9em;
    padding: 0.15em 0.4em;
    border-radius: 0.5em;
    text-shadow: 0 0 3px rgba(255,255,255,0);
    transition: all 0.5s ease;
}
#new-thread input[type="submit"]:hover {
    border: 1px solid rgba(95, 188, 231, 0.76);
    box-shadow: 0 0 10px rgba(1, 205, 241, 0.48) inset;
    text-shadow: 0 0 5px rgba(255,255,255,0.9);
    color: #fff;
}

.thread {
	border-bottom: 2px solid #1C717B;
	padding: 1em 0;
}

.file-info {
	margin-left: 20px;
	font-size: 0.9em;
}

.post-image {
	margin: 3px 20px 5px;
	float: left;
}

.post-image img{
	float: left;
	height: auto;
	max-width: 100%;
}

.username{
    color: #29A329;
    text-shadow: 0 0 5px rgba(2, 139, 0, 0.64);
}

.reply-container {
	margin-bottom: 0.5em;
}

.reply-arrows {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

.post-parent .post-content {
	margin: 0.5em 1em;
}

.post-reply .post-content {
	margin: 0.5em 1em;
}

.post-reply {
 	background: linear-gradient(to bottom, rgba(4, 27, 27, 0.72) 0%, rgba(4, 69, 68, 0.47) 100%) no-repeat scroll right top rgba(0, 0, 0, 0);
    border: 1px solid rgba(9, 123, 133, 0.34);
    border-radius: 4px;
    display: table;
    /*max-width: 95%;
    min-width: 300px;*/
    padding: 0.1em 0.5em;
}


