@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
	/*background-image: radial-gradient(ellipse farthest-corner at center top, #CFFFDF 0%, #0086C4 100%);*/
	background-image: url('simple_dashed.png');
	height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	color: #d0d0d0;
}

a {
	text-decoration: none;
}

#page-container {
	max-width: 978px;
	margin: 0 auto;
}

#page-header h1{
	font-size: 3em;
	font-weight: 300;
	text-shadow: 0 0 8px #85C4FF;
	transition: all 1s ease;
	text-align: center;
}

#page-header h1:hover{
    text-shadow: 0 0 10px #FF1160;
}

.half {
	margin-right: 2.913%;
    width: 48.1%;
    float: left;
}

.half-last {
	width: 48.544%;
	float: left;
}

.blue-box {
	border-radius: 5px;
	border: 1px solid rgba(9, 123, 133, 0.34);
	background: none repeat scroll 0 0 rgba(2, 9, 7, 0.72);
	margin-bottom: 1em;
}

.blue-box h2 {
	background: none repeat scroll 0 0 rgba(36, 191, 225, 0.09);
    border-bottom: 1px solid rgba(9, 123, 133, 0.22);
    border-radius: 5px 5px 0 0;
    font-weight: 300;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.blue-box-inner {
	padding: 0.5em;
}

#page-footer {
	text-align: center;
}